{% extends "base.html" %}

{% load i18n %}

{% load account socialaccount %}

{% block head_title %}

{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container-fluid row h-100" id="signin-main">

  <div class="d-flex align-items-center justify-content-center col-md-7 mb-4 mt-3">
    <div class="d-flex align-items-center justify-content-center" id="circle-outerSignIn">
      <div id="circle-innerSignIn">
        <div class="container" id="signin">
          <div class="row">
            <div class="col-md-8 mt-3">
              <h3>{% trans "Sign In" %}</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8 mt-3">
              <form class="login" method="POST" action="{% url 'account_login' %}">
                {% csrf_token %}
                {{ form.as_p }}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button id="signInbtn" class="btn" type="submit">{% trans "Sign In" %}</button>
              </form>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="col-md-5 mb-4 mt-3">
    <h4>About Us</h4>
    <div class="card" id="about_us">
      <p>
        Our Youth club first time opened in 2003.
        We started to work with young local kids in order to help to cope with anxiety and day-to-day issues.
        Here you could share your emotions and tips on how to cope with unwanted feelings.
        In 2005 we opened another youth club in Galway. And day after day we grow stronger.
      </p>
    </div>
     <!-- Footer -->

    <footer class="d-flex justify-content-center mt-5">
        <p class="m-0 text-center">
            <i class="fab fa-facebook-square ms-5 fa-2x"></i>
            <i class="fab fa-twitter-square ms-5 fa-2x"></i>
            <i class="fab fa-instagram-square ms-5 fa-2x"></i>
            <i class="fab fa-youtube-square ms-5 fa-2x"></i>
        </p>
    </footer>
</div>
{% endblock %}