/* Main base,html settings */

* { 
    font-family: 'Gothic A1', sans-serif;
    padding: 0; 
    margin: 0; 
}

html, body {
    height: 100%;
}

main {
    height: 90%;
}

/* Green Inspa circle at the background settings */
#circle-outer {
    background-color: rgba(171, 196, 171, 0.5);
    height:400px;
    width:400px;
    border-radius: 50%;
    overflow: auto;

}

#circle-inner {
    background-color:rgb(171, 196, 171);
    height: 370px;
    width: 370px;
    border-radius:50%;
    display: grid;
    place-items: center;
    overflow: auto;
}

/* Links of tip types settings */
#tip_types {
    padding: 20px;
    height: 25%!important;
}

#tip_types li {
    padding: 5px;
}

/* Navigaton */
nav {
    margin-left: 30px;
}

/* Posts */
.posts {
    height: 65%!important;
    overflow-y: scroll;
}

.post {
    margin: 0;
    text-decoration: none;
}

.post p {
    padding: 0px 15px;
}

.post a {
    color: black;
}

/* Links to tip pages */
#tip_types a {
    text-decoration: none;
}

/* Author of the post */
#author{
    display: flex;
    justify-content: end;
    padding-right: 10px;
}

/* Css at login.html */

/* Green Inspa circles at the background settings */
#circle-outerSignIn {
    background-color: rgba(171, 196, 171, 0.5);
    height:400px;
    width:400px;
    border-radius: 50%
}

#circle-innerSignIn {
    background-color:rgb(171, 196, 171);
    height: 350px;
    width: 350px;
    border-radius:50%;
}

/* Signin css settings*/
#signin div {
    justify-content: space-around;
}

#signin {
    padding: 30px;
}

#signin h3 {
    text-align: center;
}

/* Signin button */
#signInbtn {
    border: 1px solid grey;
    border-radius: 25px;
}

/* Information about club */
#about_us {
    height: 55%!important;
    padding: 30px 20px;
}

/* Feedback form */
#feedback {
    padding: 20px;
    height: 35%!important;
}

textarea {
    height: 120px;
}

button {
    margin: 5px;
}

/* Signup css settings*/

/* Green Inspa circles at the background settings */
#circle-outerSignUp {
    background-color: rgba(171, 196, 171, 0.5);
    height:600px;
    width:600px;
    border-radius: 50%
}

#circle-innerSignUp {
    background-color:rgb(171, 196, 171);
    height: 560px;
    width: 560px;
    border-radius:50%;
}

/* Signup css settings*/
#signup div {
    justify-content: space-around;
}

#signup {
    padding: 30px;
}

#signup h3 {
    margin-left: 20%;
}

/* Contact.html css settings */


/* Green Inspa circles/ Opening hours */
#circle-outerContact {
    background-color: rgba(171, 196, 171, 0.5);
    height:520px;
    width:520px;
    border-radius: 50%
}

#circle-innerContact {
    background-color:rgb(171, 196, 171);
    height: 485px;
    width: 485px;
    border-radius:50%;
}

#addresses {
    height: 60%!important;
    padding-left: 10px;
}

#contact {
    margin: 40px;
    padding: 90px;
}

#addresses h6 {
    padding-top: 20px;
}

/* Random post only if logged in */

#random_post {
    padding: 15px;
}

form button {
    border: none;
    margin: 5px;
}

/* Add commets css settings */
#addcomment {
    border-radius: 25px;
    border: solid black 1px;
    padding: 0 5px;
    font-size: small;
}

#addcomment a {
    text-decoration: none;
    color: grey;
}

/* Css in Posts */

/* Style username at the end of the post  */
#addposts {
    margin: 20px;
    width: 25%;
    border-radius: 25px;
    border: solid black 1px;
    padding: 0 5px;
    font-size: small;
}

#addposts a {
    text-decoration: none;
    color: grey;
}

#authorInPosts {
    display: flex;
    justify-content: end;
    padding-right: 10px;
    margin-bottom: 0px;
}

/* Footer */

.fa-facebook-square:hover {
    color: #4267B2;
}

.fa-twitter-square:hover {
    color: #1DA1F2;
}

.fa-instagram-square:hover {
    background: -webkit-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -o-radial-gradient(30% 107%, circle, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    background: -webkit-radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.fa-youtube-square:hover {
    color: #FF0000;
}