/* Main base,html settings */

* { padding: 0; 
    margin: 0; }

html, body {
    height: 100%;
}

main {
    height: 90%;
}

/* Green Inspa circle at the background settings */
#circle-outer {
    background-color: rgba(171, 196, 171, 0.5);
    height:300px;
    width:300px;
    border-radius: 50%
}

#circle-inner {
    background-color:rgb(171, 196, 171);
    height: 270px;
    width: 270px;
    border-radius:50%;
}

/* Links of tip types settings */
#tip_types {
    padding: 20px;
    height: 25%!important;
}

#tip_types li {
    padding: 5px;
}

/* Navigaton */
nav {
    margin-left: 30px;
}

/* Posts */
#posts {
    height: 65%!important;
}

#post{
    margin: 0;
}

#author{
    margin-right: 0;
}


/* Css at login.html */

/* Green Inspa circle at the background settings */
#circle-outerSignIn {
    background-color: rgba(171, 196, 171, 0.5);
    height:400px;
    width:400px;
    border-radius: 50%
}

#circle-innerSignIn {
    background-color:rgb(171, 196, 171);
    height: 350px;
    width: 350px;
    border-radius:50%;
}

/* Sign in css settings*/
#signin div {
    justify-content: space-around;
}

#signin {
    padding: 30px;
}

/* Information about club */
#about_us {
    height: 55%!important;
    padding: 30px 20px;
}

/* Feedback form */
#feedback {
    padding: 20px;
    height: 35%!important;
}

textarea {
    height: 120px;
}

button {
    margin: 5px;
}


/* Sign up css settings*/


#circle-outerSignUp {
    background-color: rgba(171, 196, 171, 0.5);
    height:530px;
    width:530px;
    border-radius: 50%
}

#circle-innerSignUp {
    background-color:rgb(171, 196, 171);
    height: 490px;
    width: 490px;
    border-radius:50%;
}

#signup div {
    justify-content: space-around;
}

#signup {
    padding: 30px;
}

/* Contact.html css settings */


/* Opening hours */
#circle-outerContact {
    background-color: rgba(171, 196, 171, 0.5);
    height:520px;
    width:520px;
    border-radius: 50%
}

#circle-innerContact {
    background-color:rgb(171, 196, 171);
    height: 485px;
    width: 485px;
    border-radius:50%;
}

#addresses {
    height: 60%!important;
    padding-left: 10px;
}

#contact {
    margin: 40px;
    padding: 90px;
}

#addresses h6 {
    padding-top: 20px;
}

