<title>Health</title>
{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid d-flex row">
    <div class="d-flex row justify-content-md-center">
        <h4>Inspas</h4><button class="addposts">Add Post</button>
    </div>
    <div class="posts" id="healthposts">
        {% csrf_token %}
        <div class="row">
            {% for healthpost in healthpost_list %}
            <!-- healthpost content lies here-->
            <div class="card" class="post">
                <p class="card-text">
                    {{ healthpost.content | safe }}
                </p>
                <p class="authorInPosts">
                    {{ healthpost.author }}
                </p>
            </div>
            
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'healthpost_like' healthpost.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="healthblogpost_id" value="{{healthpost.slug}}" class="btn-like"><i
                                        class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="healthblogpost_id" value="{{healthpost.slug}}" class="btn-like"><i
                                        class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <!-- The number of likes -->
                            <span class="text-secondary">{{ healthpost.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-11">
                        {% if user.is_authenticated %}
                        <button class="addcomment" id="addhealthcomment">
                            <a href="{% url 'health_post_detail' slug=healthpost.slug %}">Comments</a>
                        </button>
                        {% else %}
                        <div class="announcement">
                            <button class="addcomment healthannouncebtn" healthdata-slug="{{ healthpost.slug }}">
                                Comments
                            </button>
                        </div>
                        {% endif %}
                        
                    </div>
                </div>    
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}