{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}

<div class="card-text post">

    <h3>Add post here...</h3>
    <p>Posting as: {{ user.username }}</p>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="addposts" name="add_post" value="add_post">Post</button>
    </form>
    <!-- Message after commented -->
    {% if posted %}
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Well done!</h4>
        <p>You successfully created a post.</p>
        <hr>
    </div>
    <div class="alert alert-success" role="alert">
        Your post is awaiting approval.
    </div>
    {% endif %}


{% endblock content %}