{% extends "base.html" %}

{% load i18n %}

{% block content %}

<div class="container-fluid row h-100">

    <div class="d-flex align-items-center justify-content-center col-md-7 mb-4 mt-3">
        <div class="d-flex align-items-center justify-content-center" id="circle-outerContact">
            <div id="circle-innerContact">
                <div class="container" id="contact">
                    <div class="row">
                        <div class="col-md-8 mt-3">
                            <h3>Opening Hours</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 mt-3">
                            <span>Mon - Thur 9:30 - 13:00</span><br>
                            <span>Thur - Fri 10:00 - 13:30</span><br>
                            <span>Sun &nbsp;-  Closed</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-5 mb-4 mt-3">
        <h4>Contact Us</h4>
        <div class="card" id="addresses">
            <div class="row row-cols-2">
                <span>
                    <h6>Phone number: </h6>098343234235
                </span>
                <span>
                    <h6>Email address: </h6>youthclub@yahoo.com
                </span>
            </div>
            <hr>
            <span class="row">
                <h6>Addresses: </h6>
                
                <span class="col-md-4 mb-4 mt-3">
                23 House Name,<br>
                Bishop Road, <br>
                Co. Galway<br>
                </span>
                <span class="col-md-4 mb-4 mt-3">
                26 House Name,<br>
                Bishop Street, <br>
                Co Lthrum<br>
                </span>
                <span class="col-md-4 mb-4 mt-3">
                1 House Name,<br>
                Eglinton Road, <br>
                Dublin<br>
                </span>
            </span>

        </div>
        {% load crispy_forms_tags %}
        <!-- Feedback form -->
        <div class="card-text post">
      <div class="h-25 w-100 col-md-5 card mb-4 mt-3" id="feedback">
        <h4>Feedback Form</h4>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" id="feedbackbtn" name="feedback" value="feedback" class="btn btn-lg">Submit</button>
        </form>
        <!-- Message after commented -->
        {% if feedback %}
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Well done!</h4>
            <p>Thank you for your feedback.</p>
        </div>
        {% endif %}
  </div>
</div>
    </div>
</div>
</div>
</div>
{% endblock %}